.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    box-shadow: 0 1px 3px -2px black;
}
.nav-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 20px;
}
.nav-logo p{
    color: darkmagenta;
    font-size: 30px;
    font-weight: 500;

}
.nav-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 50px;
    color: rgb(28, 60, 69);
    font-size: 20px;
    font-weight: 400;
}
.nav-menu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 3px;
    cursor: pointer;
}
.nav-menu hr{
    border: none;
    width: 50px;
    height: 3px;
    border-radius: 10px;
    background: red;
}
.login-cart{
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    gap: 30px;
}
.login-cart button{
    width: 100px;
    height: 40px;
    outline: none;
    border: 2px solid gray;
    color: #515151;
    border-radius: 60px;
    background: white;
    font-weight: 500;
    cursor: pointer;
}
.login-cart button:active{
    background:gray;
}
.nav-cart-count{
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -45px;
    border-radius: 11px;
    font-size: 14px;
    background: red;
    color: white;
}